.home-pg1{
    height:87vh;
    background-image: url('../../../assets/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%;
}
.page1-container{
    background-color: rgb(222, 198, 120);
    border-radius: 30px;
}
.page1-container button{
    font-size: 2rem;
    background-color: transparent;
    color: aliceblue;
    border: none;
}
